pyrogram==2.0.106
tgcrypto
pyromod>=3.1.6
requests
cloudscraper
aiohttp
aiofiles
beautifulsoup4==4.12.2
bs4==0.0.2
soupsieve==2.5
pycryptodome==3.20.0
PySocks==1.7.1
websockets==12.0
async-lru==2.0.4
pyaes==1.6.1
python-decouple==3.8
Flask==3.0.3
gunicorn==22.0.0
httpx
psutil
